{% extends 'base.html.twig' %}

{% block title %}
    Erreur 404
{% endblock %}

{% block body %}
    <div class="container m-auto">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-10">
                <div class="card rounded-4 card-security shadow">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-flex  justify-content-center
                        align-items-center">
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="text-center">
                                    <h4 class="text-black">Erreur 404 : Page non trouvée</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}