{% extends 'base.html.twig' %}

{% block title %}
    Erreur
{% endblock %}

{% block body %}

    <div class=" d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-center">

            <div class="text-center">
                <h4 class="text-black">Nous nous excusons pour le désagrément, mais quelque chose s'est mal passé. Nos techniciens travaillent à résoudre le problème. Merci pour
                    votre patience et veuillez réessayer plus tard.</h4>
            </div>
        </div>
    </div>
{% endblock %}
