<h1>Bonjour, voici vos identifiants!</h1>

<label for="inputLogin">Votre identifiant :</label>
<input type="text" value="{{ user.username }}" id="inputLogin" readonly>
<label for="inputCopy">Votre mot de passe :</label>
<input type="text" value="{{ user.password }}" id="inputCopy" readonly>
<p>
    À la prochaine sur notre site To do list !
</p>
